certifi==2019.6.16
chardet==3.0.4
click==7.0
Flask==1.0.3
fritzconnection==0.6.5
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.3.4
MarkupSafe==1.1.1
requests==2.22.0
urllib3==1.25.3
Werkzeug==0.15.5
