body {
    background-color: Black;
    color: #303030;
    font-family: monospace;
    font-size: 4em;
    height: 5em;
    white-space: pre;
}

body::-webkit-scrollbar {
    width: 0;
}

.eins {
    position: absolute;
    top: 0;
}

.zwei {
    position: absolute;
    top: 1.4em;
}

.drei {
    position: absolute;
    top: 2.8em;
}

.vier {
    position: absolute;
    top: 4.2em;
}

.fuenf {
    position: absolute;
    top: 5.6em;
}

.bg {
    z-index: -1;
}

.small {
    font-size: 0.5em;
}

.fggreen {
    color: DarkGreen;
}

.fgred {
    color: Red;
}

.bggreen {
    background-color: DarkGreen;
}

.bgyellow {
    background-color: DarkGoldenRod;
}

.bgred {
    background-color: Red;
}

#uhr {
    position: absolute;
    right: 0;
    top: 0;
}
